.slide1 {
  background-image: url("/black-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}
.slide1 {
  background-image: url("/black-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}
.slide1 {
  background-image: url("/black-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}
.slide1 {
  background-image: url("/black-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}
.slide1 {
  background-image: url("/black-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}
.slide1 {
  background-image: url("/black-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}
.slide1 {
  background-image: url("/black-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}
.slide1 {
  background-image: url("/black-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}
